.searchBox{
    width: 100%;
}

@media (min-width: 1000px) {
    .searchBox{
        margin-left: 30%;
        width: 40%;
        justify-content: center;
    }
}

.icon{
    position: relative;
    top: -5px;
    left: 5px;
    margin-right: 5px;
    }

.searchText{
    margin-top: -10px;

}
