.header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    &__icon{
        background-image: url(./img/logo.png);
        width: 80px;
        height: 45px;
        background-size: contain;
        display: block;
        background-repeat: no-repeat;
    }
    &__name{
        color : #3b83bd;
        text-decoration: underline;
    }
}

.bar {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.item {
    margin: 10px;
    &:hover{
        color : #3b83bd;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
}