.home {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  &__list {
    flex: 1;
    overflow-y: auto;
  }
  .walk_detail_control {
    position: sticky;
    bottom: 0;
    margin: 0px 8px 0px 8px;
  }
  .button {
    background-color:#0938BF; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
  }
  .searchdiv {
    margin: 20px;
  }
  .listdiv {
    margin: 20px;
  }

  .grid-container2 {
    display: grid;
    grid-gap: 1px;
    padding: 5px;
  }

  .boldText {
    font-weight: bold;
  }

  .borderText {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 6px 20px;

  }
}
