.home {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  &__list {
    flex: 1;
    overflow-y: auto;
  }
  .walk_detail_control {
    position: sticky;
    bottom: 0;
    margin: 0px 8px 0px 8px;
  }
  .buttonAdd {
    background-color:#012285; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    &:hover{
      background-color: #002baa;
    }
  }

  .buttonText{
    margin-top: -10px;
  }

  .searchdiv {
    margin: 20px;
  }
  
  .listdiv {
    margin: 20px;
  }

  .icon{
    position: relative;
    top: 6px;
    left: 5px;
    margin-right: 5px;
    }

  .buttonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxAdd {
    margin-top: 10px;
    border: 2px dashed gray;
    border-radius: 12px;
    padding: 15px;
    margin-left: 15vw;
    margin-right: 15vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
}